@model CreateGameFormViewModel

@{
    ViewData["Title"] = "Add Game";

}

<h5 class="mt-3">
    <i class="bi bi-plus-circle-dotted"></i>
    Add new game
</h5>

<form class="mt-3" asp-controller="Games" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div>
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="CategoryId" class="form-label mt-4"></label>
                <select asp-for="CategoryId" class="form-select" asp-items="Model.Categories"
                data-placeholder ="Select a category" data-minimum-results-for-search="Infinity">
                    <option value=""></option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="SelectedDevices" class="form-label mt-4"></label>
                <select asp-for="SelectedDevices" class="form-select custom-select" asp-items="Model.Devices"
                        data-placeholder="Select devices.." data-minimum-results-for-search="Infinity">
                    <option class="custom-option"></option>
                </select>
                <span class="d-block mt-1">Hint :use ctrl+right click for multi selects and uncheck</span>
                <span asp-validation-for="SelectedDevices" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="GameWebsite" class="form-label mt-4"></label>
                <input type="text" asp-for="GameWebsite" class="form-control" placeholder="Enter Name">
                <span asp-validation-for="GameWebsite" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Rate" class="form-label mt-4"></label>
                <input type="text" asp-for="Rate" value="@String.Empty" class="form-control" placeholder="Enter Rate">
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            
            <div>
                <select asp-for="AgeRate" class="form-control mt-5">
                    <option value="0">Age rate</option>
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                    <option value="12">12</option>
                    <option value="18">18</option>
                    <option value="21">21</option>
                </select>
            </div>

            <div>
                <label asp-for="Cover" class="form-label mt-4"></label>

                <input type="file" asp-for="Cover" class="form-control" 
                data-rule-extension="jpg,jpeg,png"
                data-msg-extension="Not an allowed extension"
                data-rule-fileSize="1024*1024" 
                data-msg-fileSize="Max allowed size is 1 Mb"

                />
                
                <span asp-validation-for="Cover" class="text-danger"></span>
                <small class="form-text text-muted d-block">allowed formats : .jpg,.jpeg,.png with max size 1 Mb</small>
            </div>

            <button type="submit" class="btn btn-light text-dark mt-3">Save</button>
        </div>
        
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img class="cover-preview d-none w-50 h-75" alt="Cover"/>
        </div>
    </div>
</form>

                @section Scripts{
                    <partial name="_ValidationScriptsPartial" />

                <script src="~/js/filesize-validator.js"></script>
                <script src="~/js/game-form.js"></script>

                }
