@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="text-center text-white mt-3 position-absolute mx-auto" style="top:40px">Client page</h2>

